html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-image: url("./background.jpg");
  background-size: cover;
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 720px;
  width: 100%;
  text-align: center;
}

.search {
  margin-bottom: 25px;
}
.search label {
  margin-right: 15px;
  color: white;
}
.search input {
  padding: 10px 15px;
  margin-right: 5px;
  border-radius: 3px;
  border: 0px;
  font-size: 18px;
  opacity: 0.8;
}
.search input:focus {
  opacity: 1;
}

.search__item {
  position: relative;
  display: inline-block;
}

.search__dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  list-style: none;
  text-align: left;
  z-index: 100;
}

.search__dropdown li {
  padding: 15px;
  margin: 0px;
  cursor: pointer;
}
.search__dropdown li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.weather__value {
  position: relative;
  font-size: 180px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.weather__value:after {
  content: "o";
  font-size: 48px;
  position: absolute;
  top: 20px;
}
.weather__city {
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  font-size: 24px;
}
